*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgb(41, 65, 161),lch(9.96% 47.99 317.76));
    border-radius: 50px;
    padding: 10px;
    margin: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size:large;
}


body,html{
    height: 100%;
    width: 100%;
}



header {
    text-align: center;
}
header h1{
    font-family:'Courier New', Courier, monospace;
    color: white;
}
.pro-img{
    
    border-radius: 150px;
}

hr{
    padding: 5px;
}

h1{
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(0, 0, 0);
}
  


li{
    color: rgb(0, 0, 0);
}


#vid{
    display: flex;
    gap: 16px;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 8px;
}

#vid video{
    max-width: 100%;
    height: auto;
    display: block;
}

