body{

    background-image: linear-gradient(45deg, rgb(108, 96, 165),#04837a);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size:large;
    
}
header {
    text-align: center;
}
header h1{
    font-family:'Courier New', Courier, monospace;
    color: white;
}
.pro-img{
    
    border-radius: 150px;
}

h1{
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(0, 0, 0);
}
  


    li{
    color: rgb(0, 0, 0);
}


#vid{
     display: inline-flex;
     align-items: center;

}